.Signup_main {
  width: 90%;
  margin: 15px auto;
}

.Signup_wrapper {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  margin: 0 auto;
}

.Signup_left {
  flex: 1;
  background: #ebf5fb;
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

.Signup_right {
  flex: 1;
}

.form_main {
  width: 70%;
  margin: 15px 20px;
}

.Name_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FOrm_icon {
  margin-right: 10px;
}
.Form_heading {
  width: 90%;
  margin: 15px auto;
}
.signUp_btn {
  margin: 15px auto;
  text-align: center;
}
.sin_btn {
  border-radius: 19px 19px 19px 19px;
  text-align: center;
}
.Form_heading p {
  color: #8e44ad;
  font-weight: bold;
  cursor: pointer;
}

.input_field_signup {
  border-radius: 19px 19px 19px 19px;
  margin: 15px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.Forgot_password {
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .Signup_main {
    width: 100%;
    margin: 15px auto;
  }
  .Signup_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
  }

  .form_main {
    margin: 15px auto;
    width: 70%;
    text-align: center;
  }
  .Signup_left {
    flex: 1;
    display: none;
    background: #ebf5fb;
    clip-path: polygon(0 0, 100% 0%, 91% 99%, 0% 100%);
  }
  .Form_heading {
    width: 90%;
    margin: 15px auto;
    text-align: center;
  }
}
